.card-img-top {
  width: 258;
  height: 180;
}
.price-from {
  text-decoration: line-through;
  color: #ababa5;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.price-sale {
  font-weight: 600;
  font-size: 1.6rem;
}
.search-bar {
  margin-top: 2%;
}
