<div class="container">
  <div class=" search-bar input-group mb-3">
    <input type="text"  required #search class="form-control" (keyup)="searchProduct($event, search.value)" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>
  <div class="card-deck" *ngIf="products !== null || undefined">
    <div class="card"*ngFor="let product of products">
      <img class="card-img-top" src="{{store + product['map']['images.url'][0]}}">
      <div class="card-body">
        <p class="card-title"><strong>{{product['map']['name']}}</strong></p>
        <p class="card-text price-from">${{ product['map']['defaultPrice']}}</p>
        <p class="card-text price-sale">${{product['map']['salePrice']}}</p>
      </div>
    </div>
  </div>
</div>